<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <title> Responsive HTML5/CSS3 Template | FIFO THEMES</title>
      <meta name="description" content=" Responsive HTML5/CSS3 Template from FIFOTHEMES.COM">
      <meta name="author" content="FIFOTHEMES.COM">
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Google Fonts  -->
      <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
      <!-- Library CSS -->
      <link rel="stylesheet" href="/static/css/bootstrap.css">
      <link rel="stylesheet" href="/static/css/fonts/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" href="/static/css/animations.css" media="screen">
      <link rel="stylesheet" href="/static/css/superfish.css" media="screen">
      <link rel="stylesheet" href="/static/css/prettyPhoto.css" media="screen">
      <!-- Theme CSS -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Skin -->
      <link rel="stylesheet" href="/static/css/colors/blue.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/static/css/theme-responsive.css">
      <!-- Favicons -->
      <link rel="shortcut icon" href="/static/img/ico/favicon.ico">
      <link rel="apple-touch-icon" href="/static/img/ico/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/static/img/ico/apple-touch-icon-72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/static/img/ico/apple-touch-icon-114.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/static/img/ico/apple-touch-icon-144.png">
      <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="/static/js/respond.min.js"></script>
      <![endif]-->
      <!--[if IE]>
      <link rel="stylesheet" href="/static/css/ie.css">
      <![endif]-->
   </head>
   <body class="boxed shortcodes">
        <div class="wrap">
            <!-- Header Start -->
            <header id="header">
                <!-- Main Header Start -->
                <div class="main-header">
                    <div class="container">
                        <!-- TopNav Start -->
                        <div class="topnav navbar-header">
                            <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                                <i class="icon-angle-down icon-current"></i>
                            </a> 
                        </div>
                        <!-- TopNav End -->
                        <!-- Logo Start -->
                        <div class="logo pull-left">
                            <h1>
                                <a href="#">
<!--                                    <img src="/static/img/logo.png" alt="labeler" width="125" height="60">-->
                                </a>
                            </h1>
                        </div>
                        <!-- Logo End -->
                        <!-- Mobile Menu Start -->
                        <div class="mobile navbar-header">
                            <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                                <i class="icon-reorder icon-2x"></i>
                            </a> 
                        </div>
                        <!-- Mobile Menu End -->
                        <!-- Menu Start -->
                        <nav class="collapse navbar-collapse menu">
                            <ul class="nav navbar-nav sf-menu">
                                <li>
                                    <a href="#features">
                                    Features 
                                    </a>
                                </li>
                                <li>
                                    <a href="#explore">
                                        Explore
                                    </a>
                                </li>
                                <li>
                                    <a href="#download">
                                    Download
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper">
                                    Paper
                                    </a>
                                </li>
                                <li>
                                    <a href="#about">
                                    About
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- Menu End --> 
                    </div>
                </div>
                <!-- Main Header End -->
            </header>
            <!-- Header End --> 
            <!-- Content Start -->
            <div id="main">
                <div class="our-clients" style="height:500px"></div>
                <div class="slogan bottom-pad-small">
                    <div class="container">
                        <div class="row">
                            <div class="slogan-content">
                                <div class="col-lg-12 col-md-12">
                                    <h2 class="slogan-title">A vehicle detection database for vision tasks set in the real world.</h2>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main Content start-->
                <div class="main-content">
                    <div class="container">
                        <a id="features" name="target"></a> 
                        <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="content-box big ch-item bottom-pad-small">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"><i class="icon-camera"></i></div>
                                        <div class="ch-info-back">
                                            <i class="icon-camera"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box-info">
                                    <h3>3D Reconstructions</h3>
                                    <p>Each photograph in NYC3DCars has been geo-registered to the Earth, providing full camera intrinsics and extrinsics in an Earth-Centered, Earth-Fixed coordinate system enabling seemless integration with existing geospatial solutions.</p>
                                </div>
                            </div>
                        </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="content-box big ch-item bottom-pad-small">
                                    <div class="ch-info-wrap">
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-1"><i class="icon-compass"></i></div>
                                            <div class="ch-info-back">
                                                <i class="icon-compass"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box-info">
                                        <h3>Geographic Data</h3>
                                        <p>Companion databases such as those provided by <a href="//www.openstreetmap.org">OpenStreetMap</a> and <a href="//nycopendata.socrata.com">NYC OpenData</a> have been integrated for easy access to geographic features such as road, sidewalk, and median polygons as well as road network connectivity.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="content-box big ch-item">
                                    <div class="ch-info-wrap">
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-1"><i class="icon-truck"></i></div>
                                            <div class="ch-info-back">
                                                <i class="icon-truck"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box-info">
                                        <h3>Vehicle Annotations</h3>
                                        <p>Human annotators have provided detailed descriptions for vehicles contained in the database.  Annotations include a full 6 degree of freedom vehicle pose, vehicle type, 2D vehicle bounding box, and approximate photo time of day.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                            <iframe src="//player.vimeo.com/video/76784236" width="100%" height="530" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="recentworks">
                    <div class="container">
                        <a id="explore" name="target"></a> 
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <h3 class="title">Explore</h3>
                                    <p>Try one of our demos to become more accustomed to the data contained in our database.  WebGL required.</p>
                                </div>
                                <div class="portfolio two-column isotope" style="height:500">
                                    <div class="web jquery item isotope-item col-md-4 col-sm-4 col-lg-4">
                                        <div class="portfolio-item">
                                            <a href="todo" class="portfolio-item-link">
                                                <span class="portfolio-item-hover" style="opacity: 0;"></span>
                                                <span class="fullscreen" style="top: 65%; opacity: 0;"><i class="icon-search"></i></span><img src="/static/img/portfolio/img-portfolio.jpg" alt=" ">
                                            </a>
                                            <div class="portfolio-item-title">
                                                <a href="single-project.html">Photo Browser</a>
                                                <p>
                                                      Browse our catalog of photographs and examine the 3D vehicle annotations.
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="web jquery item isotope-item col-md-4 col-sm-4 col-lg-4">
                                        <div class="portfolio-item">
                                            <a href="todo" class="portfolio-item-link">
                                                <span class="portfolio-item-hover"></span>
                                                <span class="fullscreen"><i class="icon-search"></i></span><img src="/static/img/portfolio/img-portfolio.jpg" alt=" ">
                                            </a>
                                            <div class="portfolio-item-title">
                                                <a href="single-project.html">Viewpoint Retrieval</a>
                                                <p>
                                                      Explore our database by querying for annotations by viewpoint.
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a id="download" name="target"></a>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h3 class="title">Download</h3>
                                    <p>Use of <a href="http://www.postgresql.org/">PostgreSQL</a> with the <a href="http://postgis.net/">PostGIS</a> package is recommended for working with any of the spatial or geographic data and is required for the use of many of the analysis tools.  JPEG images are distributed separately per reconstruction due to the large size. Geographic data can be obtained either through the original sources or a preprocessed SQL dump can be obtained here.</p>
                                    <p>Files labeled as PGSQL can be imported into a PostgreSQL database using the following command: <code>zcat filename.dump.gz &gt | pg_restore --dbname=nyc3dcars</code>.  Alternatively, we provide a <a>script</a> to help download and import all necessary assets.</p>
                
                                    <p>To enable the reproduction of our detection results, we have included the deformable part models that we trained using a combination of our dataset and the <a href="http://pascallin.ecs.soton.ac.uk/challenges/VOC/voc2007/">PASCAL Visual Object Classes Challenge 2007</a> dataset and the <a href="http://www.cvlibs.net/datasets/kitti/">KITTI Vision Benchmark Suite</a> dataset.</p>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h4 class="title">Images</h4>
                                            <ul class="check-list why">
                                                <li><a href="https://s3.amazonaws.com/nyc3dcars/times-square-images.tar.gz">Times Square Images</a></li>
                                                <li><a href="https://s3.amazonaws.com/nyc3dcars/apple-images.tar.gz">Apple Store Images</a></li>
                                                <li><a href="https://s3.amazonaws.com/nyc3dcars/macys-images.tar.gz">Macy's Store Images</a></li>
                                            </ul>
                                            <hr />
                                            <ul class="check-list why">
                                                <li><a>Image Metadata - CSV</a></li>
                                                <li><a>Image Metadata - PGSQL</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h4 class="title">Reconstructions</h4>
                                            <ul class="check-list why">
                                                <li><a>Bundler Output</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h4 class="title">Vehicle Annotations</h4>
                                            <ul class="check-list why">
                                                <li><a>Annotations - CSV</a></li>
                                                <li><a>Annotations - PGSQL</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h4 class="title">Detection Models</h4>
                                            <ul class="check-list why">
                                                <li><a>Models</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h4 class="title">Detection Software</h4>
                                            <ul class="check-list external">
                                                <li><a href="http://www.cs.berkeley.edu/~rbg/latent/index.html">Pedro Felzenszwalb's VOC DPM</a></li>
                                                <li><a>Custom Extensions</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h4 class="title">Misc.</h4>
                                            <ul class="check-list external">
                                                <li><a>Analysis Tools</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <h4 class="title">Geographic Data</h4>
                                    <ul class="check-list why">
                                        <li><a href="https://s3.amazonaws.com/nyc3dcars/nyc-latest.osm">OpenStreetMap - Planet Dump</a></li>
                                        <li><a href="http://gis.nyc.gov/doitt/dl/gisdata/shp/ROADBED.zip">Road Polygons - Shapefile</a></li>
                                        <li><a href="http://www.nyc.gov/html/gis/downloads/bigapps/DOITT_SIDEWALK_01_28JUL2009.zip">Sidewalk Polygons - Shapefile</a></li>
                                        <li><a href="http://www.nyc.gov/html/gis/downloads/bigapps/DOITT_MEDIAN_01_28JUL2009.zip">Median Polygons - Shapefile</a></li>
                                        <li><a href="http://gis.nyc.gov/doitt/dl/gisdata/shp/STREET_CENTERLINE.zip">Road Centerlines - Shapefile</a></li>
                                        <li><a href="https://data.cityofnewyork.us/Housing-Development/Building-Footprints/xe92-xce7">Building Footprints - Geodatabase</a></li>
                                    </ul>
                                    <hr/>
                                    <ul class="check-list why">
                                        <li><a href="https://s3.amazonaws.com/nyc3dcars/openstreetmap.dump.gz">OpenStreetMap - PGSQL</a></li>
                                        <li><a href="https://s3.amazonaws.com/nyc3dcars/roadbeds.dump.gz">Road Polygons - PGSQL</a></li>
                                        <li><a href="https://s3.amazonaws.com/nyc3dcars/sidewalks.dump.gz">Sidewalk Polygons - PGSQL</a></li>
                                        <li><a href="https://s3.amazonaws.com/nyc3dcars/medians.dump.gz">Median Polygons - PGSQL</a></li>
                                        <li><a href="https://s3.amazonaws.com/nyc3dcars/centerlines.dump.gz">Road Centerlines - PGSQL</a></li>
                                        <li><a href="https://s3.amazonaws.com/nyc3dcars/footprints.dump.gz">Building Footprints - PGSQL</a></li>
                                    </ul>
                                </div>
                            </div>
                            <a name="target" id="paper"></a>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h3 class="title">Paper</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content End -->
                </div>
            </div>
        </div>
        <!-- Main Content end-->
        <!-- Footer Start -->
        <a id="about" name="target"></a> 
        <footer id="footer">
            <!-- Footer Top Start -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
                            <h3>About</h3>
                            <p> 
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. 
                            </p>
                        </section>
                        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
                            <h3>Contact Us</h3>
                            <ul class="contact-us">
                                <li>
                                    <i class="icon-envelope"></i>
                                    <p><strong>Email:</strong><a href="mailto:kmatzen@cs.cornell.edu">kmatzen@cs.cornell.edu</a></p>
                                </li>
                            </ul>
                        </section>
                        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
                            <h3>Acknowledgements</h3>
                            <p>This work was supported in part by the National Science Foundation under grant NSF-0931686, and by grants from the Intel Science and Technology Center for Visual Computing and Amazon Web Services in Education.</p>
                        </section>
                        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
                            <div style="background-image:url(/static/img/Cornell_logo-white.gif);width:100%;height:200px;background-size:contain;background-position:center;background-repeat:no-repeat">
                            </div>
                        </section>

                    </div>
                </div>
            </div>
            <!-- Footer Top End --> 
            <!-- Footer Bottom Start -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 "> &copy; Copyright 2013 by Kevin Matzen. All Rights Reserved. </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom End --> 
        </footer>
        <!-- Scroll To Top --> 
        <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
    </div>
    <!-- Wrap End -->
      
    <!-- The Scripts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.parallax.js"></script> 
    <script src="/static/js/modernizr-2.6.2.min.js"></script> 
    <script src="/static/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/static/js/jquery.nivo.slider.pack.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/superfish.js"></script>
    <script src="/static/js/tytabs.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.gmap.min.js"></script>
    <script src="/static/js/index-custom.js"></script>
</body>
</html>
