<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <title>NYC3DCars</title>
      <meta name="description" content="NYC3DCars - A dataset of vehicles in geographic context.">
      <meta name="author" content="Kevin Matzen">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/static/css/bootstrap.css">
      <link rel="stylesheet" href="/static/css/fonts/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" href="/static/css/animations.css" media="screen">
      <link rel="stylesheet" href="/static/css/superfish.css" media="screen">
      <link rel="stylesheet" href="/static/css/prettyPhoto.css" media="screen">
      <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="/static/css/colors/blue.css">
      <link rel="stylesheet" href="/static/css/theme-responsive.css">
      <link rel="stylesheet" href="/static/css/pricing-table.css">
      <link rel="shortcut icon" href="/static/favicon.ico">
      <style>
        .bbox {
            border-style:solid;
            border-color:#0488cd;
            border-width:2px;
            border-radius:10px;
            position:absolute;    
            transition: border-color .25s ease-in-out, opacity .25s ease-in-out;
            -moz-transition: border-color .25s ease-in-out, opacity .25s ease-in-out;
            -webkit-transition: border-color .25s ease-in-out, opacity .25s ease-in-out;
            opacity:0.5;
            z-index:1000;
        }

        .bbox:hover {
            border-color:red;
        }

        .hoverable:hover > .bbox { 
            opacity:1;
        }

        .annotation {
            opacity:0;
            transition: opacity .25s ease-in-out;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;
            position:absolute;
            padding: 30px 30px 30px;
            z-index:2000;
        }

        .bbox:hover + .annotation {
            opacity:1;
        }
      </style>
      <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="/static/js/respond.min.js"></script>
      <![endif]-->
      <!--[if IE]>
      <link rel="stylesheet" href="/static/css/ie.css">
      <![endif]-->
   </head>
   <body class="boxed shortcodes">
        <div class="wrap">
            <header id="header">
                <div class="main-header">
                    <div class="container">
                        <div class="logo pull-left">
                            <h1>
                                <a href="#">
                                    <img src="/static/img/logo.png" alt="labeler" height="60">
                                </a>
                            </h1>
                        </div>
                        <div class="mobile navbar-header">
                            <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                                <i class="icon-reorder icon-2x"></i>
                            </a>
                        </div>
                        <nav class="collapse navbar-collapse menu">
                            <ul class="nav navbar-nav sf-menu">
                                <li>
                                    <a href="#features">
                                    Features 
                                    </a>
                                </li>
                                <!--
                                <li>
                                    <a href="#explore">
                                        Explore
                                    </a>
                                </li>
                                -->
                                <li>
                                    <a href="#download">
                                    Download
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper">
                                    Paper
                                    </a>
                                </li>
                                <li>
                                    <a href="#about">
                                    About
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <div id="main">
                <div class="our-clients visible-xs" style="height:500px;background-position:center bottom;background-size:cover"></div>
                <div class="our-clients hoverable hidden-xs" style="position:relative;height:500px">
                    <div class="bbox" style="right:140px;top:310px;width:190px;height:100px;"></div>
                    <div class="annotation">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="p_table">
                                        <div class="column_1" style="width:200px">
                                            <ul>
                                                 <!-- column header -->
                                                 <li class="header_row_1 align_center">
                                                    <h2 class="col1">Sedan</h2>
                                                 </li>
                                                 <li class="header_row_2 align_center">
                                                    <h2 class="col1">Bounding Box</h2>
                                                    <h3 class="col1">left: 1090, top: 310</h3>
                                                    <h3 class="col1">width: 190, height: 100</h3>
                                                 </li>
                                                 <!-- data rows -->
                                                 <li class="row_style_3 align_center"><span>Moderately Occluded</span></li>
                                                 <li class="row_style_1 align_center"><span>Daytime Photo</span></li>
                                                 <li class="row_style_3 align_center"><span>40° 45.443', -73° 59.155'</span></li>
                                                 <li class="row_style_1 align_center"><span>7th Avenue</span></li>
                                                 <li class="row_style_3 align_center"><span>Facing 37.25° W of S</span></li>
                                                 <li class="footer_row align_center"></li>
                                              </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bbox" style="right:450px;top:300px;width:130px;height:110px;"></div>
                    <div class="annotation">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="p_table">
                                        <div class="column_1" style="width:200px">
                                            <ul>
                                                 <!-- column header -->
                                                 <li class="header_row_1 align_center">
                                                    <h2 class="col1">SUV</h2>
                                                 </li>
                                                 <li class="header_row_2 align_center">
                                                    <h2 class="col1">Bounding Box</h2>
                                                    <h3 class="col1">left: 780, top: 300</h3>
                                                    <h3 class="col1">width: 130, height: 110</h3>
                                                 </li>
                                                 <!-- data rows -->
                                                 <li class="row_style_3 align_center"><span>Slightly Occluded</span></li>
                                                 <li class="row_style_1 align_center"><span>Daytime Photo</span></li>
                                                 <li class="row_style_3 align_center"><span>40° 45.445', -73° 59.157'</span></li>
                                                 <li class="row_style_1 align_center"><span>7th Avenue</span></li>
                                                 <li class="row_style_3 align_center"><span>Facing 39.4° W of S</span></li>
                                                 <li class="footer_row align_center"></li>
                                              </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bbox" style="right:260px;top:320px;width:220px;height:140px;"></div>
                    <div class="annotation">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="p_table">
                                        <div class="column_1" style="width:200px">
                                            <ul>
                                                 <!-- column header -->
                                                 <li class="header_row_1 align_center">
                                                    <h2 class="col1">Sedan</h2>
                                                 </li>
                                                 <li class="header_row_2 align_center">
                                                    <h2 class="col1">Bounding Box</h2>
                                                    <h3 class="col1">left: 970, top: 320</h3>
                                                    <h3 class="col1">width: 220, height: 140</h3>
                                                 </li>
                                                 <!-- data rows -->
                                                 <li class="row_style_3 align_center"><span>Unoccluded</span></li>
                                                 <li class="row_style_1 align_center"><span>Daytime Photo</span></li>
                                                 <li class="row_style_3 align_center"><span>40° 45.438', -73° 59.163'</span></li>
                                                 <li class="row_style_1 align_center"><span>7th Avenue and W 44th Street</span></li>
                                                 <li class="row_style_3 align_center"><span>Facing 39.2° W of S</span></li>
                                                 <li class="footer_row align_center"></li>
                                              </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slogan bottom-pad-small">
                    <div class="container">
                        <div class="row">
                            <div class="slogan-content">
                                <div class="col-lg-12 col-md-12">
                                    <h2 class="slogan-title">A vehicle detection database for vision tasks set in the real world.</h2>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="features" name="target"></a> 
                <div class="container" style="padding-top:40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="content-box big ch-item bottom-pad-small">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"><i class="icon-camera"></i></div>
                                        <div class="ch-info-back">
                                            <i class="icon-camera"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box-info">
                                    <h2>3D Reconstructions</h2>
                                    <p>Each photograph in NYC3DCars has been geo-registered to the Earth, providing full camera intrinsics and extrinsics in an Earth-Centered, Earth-Fixed coordinate system enabling seamless integration with existing geospatial data.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="content-box big ch-item bottom-pad-small">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"><i class="icon-compass"></i></div>
                                        <div class="ch-info-back">
                                            <i class="icon-compass"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box-info">
                                    <h2>Geographic Data</h2>
                                    <p>Companion databases such as those provided by <a href="//www.openstreetmap.org">OpenStreetMap</a> and <a href="//nycopendata.socrata.com">NYC OpenData</a> have been integrated for easy access to geographic features such as road, sidewalk, and median polygons as well as road network connectivity.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="content-box big ch-item">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"><i class="icon-truck"></i></div>
                                        <div class="ch-info-back">
                                            <i class="icon-truck"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box-info">
                                    <h2>Vehicle Annotations</h2>
                                    <p>Human annotators have provided detailed descriptions for vehicles contained in the database.  Annotations include a full 6 degree of freedom vehicle pose, vehicle type, 2D vehicle bounding box, and approximate photo time of day.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                            <iframe src="//player.vimeo.com/video/76784236" width="100%" height="530" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <a id="explore" name="target"></a> 
                <a id="download" name="target"></a>
                <div class="container">
                        <!--
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <h2 class="title">Explore</h2>
                                <p>Try one of our demos to become more accustomed to the data contained in our database.  WebGL required.</p>
                            </div>
                            <div class="portfolio two-column isotope" style="height:500">
                                <div class="web jquery item isotope-item col-md-4 col-sm-4 col-lg-4">
                                    <div class="portfolio-item">
                                        <a href="todo" class="portfolio-item-link">
                                            <span class="portfolio-item-hover" style="opacity: 0;"></span>
                                            <span class="fullscreen" style="top: 65%; opacity: 0;"><i class="icon-search"></i></span><img src="/static/img/portfolio/img-portfolio.jpg" alt=" ">
                                        </a>
                                        <div class="portfolio-item-title">
                                            <a href="single-project.html">Photo Browser</a>
                                            <p>
                                                  Browse our catalog of photographs and examine the 3D vehicle annotations.
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="web jquery item isotope-item col-md-4 col-sm-4 col-lg-4">
                                    <div class="portfolio-item">
                                        <a href="todo" class="portfolio-item-link">
                                            <span class="portfolio-item-hover"></span>
                                            <span class="fullscreen"><i class="icon-search"></i></span><img src="/static/img/portfolio/img-portfolio.jpg" alt=" ">
                                        </a>
                                        <div class="portfolio-item-title">
                                            <a href="single-project.html">Viewpoint Retrieval</a>
                                            <p>
                                                  Explore our database by querying for annotations by viewpoint.
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h2 class="title">Download</h2>
                                <p>Use of <a href="http://www.postgresql.org/">PostgreSQL</a> with the <a href="http://postgis.net/">PostGIS</a> package is recommended for working with any of the spatial or geographic data and is required for the use of many of the analysis tools.  JPEG images are distributed separately per reconstruction due to the large size. We provide a link below to our preprocessed geodatabase as well as links to original sources.</p>
                                <p>Files labeled as PGSQL can be imported into a PostgreSQL database using the following command:</p>
                                <pre>zcat filename.dump.gz &gt; | pg_restore --dbname=nyc3dcars</pre>
                                <p>Alternatively, we provide a <a href="https://s3.amazonaws.com/nyc3dcars/nyc3dcars_bootstrap.py">script</a> to help download and import all necessary assets.</p>
            
                                <p>To enable the reproduction of our detection results, we have included the deformable part models that we trained using a combination of our dataset, the <a href="http://pascallin.ecs.soton.ac.uk/challenges/VOC/voc2007/">PASCAL Visual Object Classes Challenge 2007</a> dataset, and the <a href="http://www.cvlibs.net/datasets/kitti/">KITTI Vision Benchmark Suite</a> dataset.  In additional, we provide links to our open source detection software, pydro (a python reimplementation of Pedro Felzenszwalb and Ross Girshick's <a href="http://www.cs.berkeley.edu/~rbg/latent/">voc-release5</a> MATLAB package), our nyc3dcars-toolkit analysis scripts, and the source code for our annotation website.</p>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <h4 class="title">Images</h4>
                                <ul class="check-list why">
                                    <li><a href="https://s3.amazonaws.com/nyc3dcars/times-square-images.tar.gz">Times Square Images</a></li>
                                    <li><a href="https://s3.amazonaws.com/nyc3dcars/apple-images.tar.gz">Apple Store Images</a></li>
                                    <li><a href="https://s3.amazonaws.com/nyc3dcars/macys-images.tar.gz">Macy's Store Images</a></li>
                                </ul>
                                <h4 class="title">Vehicle Annotations and Image Metadata</h4>
                                <ul class="check-list why">
                                    <li><a>NYC3DCars - CSV (Coming Soon)</a></li>
                                    <li><a href="https://s3.amazonaws.com/nyc3dcars/nyc3dcars.tar.gz">NYC3DCars - PGSQL</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <h4 class="title">Geographic Data</h4>
                                <ul class="check-list why">
                                    <li><a href="http://gis.nyc.gov/doitt/dl/gisdata/shp/ROADBED.zip">Road Polygons - Shapefile</a></li>
                                    <li><a href="http://www.nyc.gov/html/gis/downloads/bigapps/DOITT_SIDEWALK_01_28JUL2009.zip">Sidewalk Polygons - Shapefile</a></li>
                                    <li><a href="http://www.nyc.gov/html/gis/downloads/bigapps/DOITT_MEDIAN_01_28JUL2009.zip">Median Polygons - Shapefile</a></li>
                                    <li><a href="http://gis.nyc.gov/doitt/dl/gisdata/shp/STREET_CENTERLINE.zip">Road Centerlines - Shapefile</a></li>
                                    <li><a href="https://data.cityofnewyork.us/Housing-Development/Building-Footprints/xe92-xce7">Building Footprints - Geodatabase</a></li>
                                </ul>
                                <ul class="check-list why">
                                    <li><a href="https://s3.amazonaws.com/nyc3dcars/geodatabase.dump.gz">Geodatabase - PGSQL</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <h4 class="title">Reconstructions</h4>
                                <ul class="check-list why">
                                    <li><a>Bundler Output (Coming Soon)</a></li>
                                </ul>
                                <h4 class="title">Tools</h4>
                                <ul class="check-list why">
                                    <li><a href="https://s3.amazonaws.com/nyc3dcars/dpm-models.tar.gz">Trained Detection Models</a></li>
                                </ul>
                                <ul class="check-list external">
                                    <li><a href="https://github.com/kmatzen/pydro">Detection Software (pydro)</a></li>
                                    <li><a href="https://github.com/kmatzen/nyc3dcars-toolkit">Analysis Tools (nyc3dcars-toolkit)</a></li>
                                    <li><a href="https://github.com/kmatzen/nyc3dcars-labeler">Annotation Software (nyc3dcars-labeler)</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">NYC3DCars</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Kevin Matzen</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
                            </div>
                        </div>
                    </div>
                    <a name="target" id="paper"></a>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h2 class="title">Paper</h2>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <a href="/static/paper.pdf"><div style="background: #ffffff url(/static/img/paper.jpg) no-repeat center center; background-size:contain; height:400px"></div></a>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" style="height:400px">
                                    <h3>NYC3DCars: A Dataset of 3D Vehicles in Geographic Context</h3>
                                    <h4>Kevin Matzen, Noah Snavely</h4>
                                    <h5>To appear in Proc ICCV 2013</h5>
                                    <p>If you wish to use this dataset or any of the related code for use in your own publication, please include the citation listed below.</p>
                                    <pre>
@inproceedings{MatzenICCV13,
    author = {Matzen, Kevin and Snavely, Noah},
    title = {NYC3DCars: A Dataset of 3D Vehicles in Geographic Context},
    booktitle = {Proc. Int. Conf. on Computer Vision},
    year = {2013},
}
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="about"></a> 
            <footer id="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
                                <h3>Contact Us</h3>
                                <ul class="contact-us">
                                    <li>
                                        <i class="icon-envelope"></i>
                                        <p><strong>Email:</strong><a href="mailto:kmatzen@cs.cornell.edu">kmatzen@cs.cornell.edu</a></p>
                                    </li>
                                </ul>
                            </section>
                            <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
                                <h3>Acknowledgements</h3>
                                <p>This work was supported in part by the National Science Foundation under grant NSF-0931686, and by grants from the Intel Science and Technology Center for Visual Computing and Amazon Web Services in Education.</p>
                            </section>
                            <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
                                <a href="http://cornell.edu"><div style="background-image:url(/static/img/Cornell_logo-white.gif);width:100%;height:200px;background-size:contain;background-position:center;background-repeat:no-repeat">
                                </div></a>
                            </section>

                            <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
                                <a href="http://rgb.cs.cornell.edu"><div style="background-image:url(/static/img/graphics_vision.png);width:100%;height:200px;background-size:contain;background-position:center;background-repeat:no-repeat">
                            </section>

                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 "> &copy; Copyright 2013 by Kevin Matzen. All Rights Reserved. </div>
                        </div>
                    </div>
                </div>
            </footer>
            <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
        </div>
          
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/jquery.parallax.js"></script> 
        <script src="/static/js/modernizr-2.6.2.min.js"></script> 
        <script src="/static/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/static/js/jquery.nivo.slider.pack.js"></script>
        <script src="/static/js/jquery.prettyPhoto.js"></script>
        <script src="/static/js/superfish.js"></script>
        <script src="/static/js/tytabs.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>
        <script src="/static/js/imagesloaded.pkgd.min.js"></script>
        <script src="/static/js/waypoints.min.js"></script>
        <script src="/static/js/jquery.gmap.min.js"></script>
        <script src="/static/js/index-custom.js"></script>
    </body>
</html>
