{% extends "outline.html" %}

{% block body %}
<div class="wrap">
    <div id="main">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h1>Instructions</h1>
                        {% block instructions %}
                        {% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h1>Controls</h1>
                        {% block controls %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
