<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Admin <strong class="caret"></strong></a>
        <div class="dropdown-menu" style="padding:15px">
            <input id="password" type="password" name="user[password]" size="30" class="form-control" />
            <input id="password_submit" class="btn btn-primary" style="width: 100%;" type="submit" name="commit" value="Sign In" />
        </div>
    </li>
</ul>
