HOST = 'YOUR IMAGE HOST HERE'

FACEBOOK_APP_ID = 'optional'
FACEBOOK_APP_SECRET = 'optional'
FACEBOOK_USER_ID = 'optional'

BUCKET = 'YOUR S3 BUCKET'

AWS_ACCESS_KEY_ID = 'YOUR S3 ID'
AWS_SECRET_ACCESS_KEY = 'YOUR S3 SECRET'

MTURK_ACCESS_KEY_ID = 'OPTIONAL'
MTURK_SECRET_ACCESS_KEY = 'OPTIONAL'

TWO_FACTOR_SECRET = 'OPTIONAL'

ASSETS_DEBUG = True
DEBUG = True
STATIC_FOLDER = 'static'

ADMIN_EMAIL = ''
REPORT_EMAIL = ''
