/* Purple Color #800080 */

.btn:focus, .subscribe-btn, .progress .progress-bar, .accordionMod .panel-heading .current, #current:after, .tp-leftarrow.default:hover,.tp-rightarrow.default:hover, .nivo-prevNav:hover, .nivo-nextNav:hover, .contact-box:hover, #options li a.selected, .ch-info .ch-info-back {
    background: #800080;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager li > a:hover, .pager li > a:focus, .navbar-toggle i, .cn-wrapper li a, .cn-wrapper:after {
    background-color: #800080;
    color: #fff;
}

#options li a.selected {
	border: 1px solid #800080;
}

.ie8 .btn-color, .ie9 .btn-color {
	background: #800080 !important;
}

.ie8 .btn-color:hover, .ie9 .btn-color:hover {
	background: #b71db7 !important;
}

.btn-color:hover, .subscribe-btn:hover {
	background: -webkit-linear-gradient(#800080,#b71db7);
	background: -moz-linear-gradient(#800080,#b71db7);
	background: -o-linear-gradient(#800080,#b71db7);
	background: -ms-linear-gradient(#800080,#b71db7);
	background: linear-gradient(#800080,#b71db7);
}

.btn-color, .subscribe-btn {
	background: -webkit-linear-gradient(#b71db7,#800080);
	background: -moz-linear-gradient(#b71db7,#800080);
	background: -o-linear-gradient(#b71db7,#800080);
	background: -ms-linear-gradient(#b71db7,#800080);
	background: linear-gradient(#b71db7,#800080);
	border: 1px solid #822e82;

	-webkit-box-shadow: inset 0 1px 1px 0 #de84de, 0 2px 0 -1px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 1px 0 #de84de, 0 2px 0 -1px rgba(0,0,0,0.2);
	cursor: pointer;
}


#current,.menu ul li a:hover,.menu ul>li:hover>a {
    border-bottom: 3px solid #800080;
}

ul.why li:before {
    background: #800080;
}

.menu ul ul {
    border-top: 3px solid #800080 !important;
}

#horizontal-tabs ul.tabs li.current {
    border-top: 2px solid #800080;
}

#vertical-tabs ul.tabs li.current {
    border-left: 2px solid #800080;
}


.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
	border-bottom-color:#800080;
}

a, .post-item h4 a:hover, .cn-wrapper li a:hover, .cn-wrapper li a.active {
    color: #800080;
}