/*Teal #008080 */

.btn:focus, .subscribe-btn, .progress .progress-bar, .accordionMod .panel-heading .current, #current:after, .tp-leftarrow.default:hover,.tp-rightarrow.default:hover, .nivo-prevNav:hover, .nivo-nextNav:hover, .contact-box:hover, #options li a.selected, .ch-info .ch-info-back {
    background: #008080;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager li > a:hover, .pager li > a:focus, .navbar-toggle i, .cn-wrapper li a, .cn-wrapper:after {
    background-color: #008080;
    color: #fff;
}

#options li a.selected {
	border: 1px solid #008080;
}

.ie8 .btn-color, .ie9 .btn-color {
	background: #008080 !important;
}

.ie8 .btn-color:hover, .ie9 .btn-color:hover {
	background: #1cb8b8 !important;
}

.btn-color:hover, .subscribe-btn:hover {
	background: -webkit-linear-gradient(#1cb8b8,#008080);
	background: -moz-linear-gradient(#1cb8b8,#008080);
	background: -o-linear-gradient(#1cb8b8,#008080);
	background: -ms-linear-gradient(#1cb8b8,#008080);
	background: linear-gradient(#1cb8b8,#008080);
}

.btn-color, .subscribe-btn {
	background: -webkit-linear-gradient(#008080,#1cb8b8);
	background: -moz-linear-gradient(#008080,#1cb8b8);
	background: -o-linear-gradient(#008080,#1cb8b8);
	background: -ms-linear-gradient(#008080,#1cb8b8);
	background: linear-gradient(#008080,#1cb8b8);
	border: 1px solid #2d7272;

	-webkit-box-shadow: inset 0 1px 1px 0 #99dede, 0 2px 0 -1px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 1px 0 #99dede, 0 2px 0 -1px rgba(0,0,0,0.2);
	cursor: pointer;
}

#current,.menu ul li a:hover,.menu ul>li:hover>a {
    border-bottom: 3px solid #008080;
}

ul.why li:before {
    background: #008080;
}

.menu ul ul {
    border-top: 3px solid #008080 !important;
}

#horizontal-tabs ul.tabs li.current {
    border-top: 2px solid #008080;
}

#vertical-tabs ul.tabs li.current {
    border-left: 2px solid #008080;
}


.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
	border-bottom-color:#008080;
}


a, .post-item h4 a:hover, .cn-wrapper li a:hover, .cn-wrapper li a.active {
    color: #008080;
}